*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #ece3d9;
    color: #29260f;
    z-index: 1;
}

header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: #f0ece8;
}

/*MENU SMALL*/
@media only screen and (max-width: 600px) {
    header {
        position: fixed;
        top: 0;
        width: 100vw;
    }
}
.menu-sm{
    height: 32px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 5px 3px;
    cursor: pointer;
}
.menu-sm > div{
    width: 100%;
    height: 3px;
    background-color: #29260f;
    border-radius: 20px;
}
.menu-center-move{
    /*animation: name duration timing-function delay iteration-count direction fill-mode;*/
    animation: menuCenterHide 0.5s ease-in-out 0s 1 normal forwards;
}
.menu-top-move{
    animation: menuTopMove 0.5s ease-in-out 0s 1 normal forwards;
}
.menu-bottom-move{
    animation: menuBottomMove 0.5s ease-in-out 0s 1 normal forwards;
}
.menu-center-restore{
    animation: menuCenterShow 0.5s ease-in-out 0s 1 normal forwards;
}
.menu-top-restore{
    animation: menuTopRestore 0.5s ease-in-out 0s 1 normal forwards;
}
.menu-bottom-restore{
    animation: menuBottomRestore 0.5s ease-in-out 0s 1 normal forwards;
}

@keyframes menuCenterHide {
    from{
        transform: none;
        opacity: 1;
    }
    to{
        transform: translateX(-60px);
        opacity: 0;
    }
}
@keyframes menuTopMove {
    from{
        transform: none;
        margin-top: 0;
        background-color: #29260f;
    }
    to{
        transform: rotate(-135deg);  
        margin-top: 10px; 
        background-color: #978a25; 
    }
}
@keyframes menuBottomMove {
    from{
        transform: none;
        margin-bottom: 0;
        background-color: #29260f;
    }
    to{
        transform: rotate(135deg);  
        margin-bottom: 5px;  
        background-color: #978a25;     
    }
}
/*Wish I could just do these in reverse and they work...*/
@keyframes menuCenterShow {
    from{
        transform: translateX(-60px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
@keyframes menuTopRestore {
    from{
        transform: rotate(-135deg);  
        margin-top: 10px; 
        background-color: #978a25;  
    }
    to{ 
        transform: none;
        margin-top: 0;
        background-color: #29260f;
    }
}
@keyframes menuBottomRestore {
    from{
        transform: rotate(135deg);  
        margin-bottom: 5px;
        background-color: #978a25;  
    }
    to{
        transform: none; 
        margin-bottom: 0;   
        background-color: #29260f;
    }
}

/*WELCOME*/
.page-top{
    top: 0;
    width: 100vw;
    height: calc(70vh + 60px);
    position: absolute;
    background: url("./images/welcome.jpg") no-repeat center center;
    background-attachment: fixed;  
    background-size: cover;
    z-index: -1;
}
section{
    padding-top: 100px;
}
.welcome{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 70vh;
    padding-top: 20vh;
}
.welcome h4{
    font-size: 30px;
}
.welcome p{
    font-weight: 400;
    text-shadow: 1px 1px 2px #b4b2a9;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .welcome > *{
        max-width: 55vw;
    }
}

/*SERVICES*/
.services{
    background-color: #e7e3df;
    min-height: 100vh;
}